{% extends 'base.html' %}
{% block content %}

<div class="card text-center">
  <div class="card-body" style="background: pink;">
    <h1 style="color: indianred;">Welcome To Polling App</h1>
    <p style="color: brown ;font-weight:bold;">This is a polling app where you can see the results on a graph.</p>
    <p style="color: brown ;font-weight:bold;">Write polls anonymously and discover yourself.</p>
    <a class="btn btn-dark" href="{% url 'polls:index' %}">
        View Available Polls</a
      >
  </div>
  </div>
{% endblock %}